.app-layout-container {
  vertical-align: top;
  width: 50%;
  // padding-left: 12.5%;
  margin-left: 25%;
  display: inline-block;
}

.app-side-nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 90px;
  left: 20px;
  vertical-align: top;
  display: inline-block;
  width: 12.5%;
  text-align: left;

  @media (min-width: 1440px) {
    width: calc(50% - 500px);
  }
}


*:focus {
  outline: none;
}