@import '../../assets/styles/base.scss';

.output-container { 
    display: inline-block;
    width: 98%;
    margin-top: 20px;
    background-color: gray;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.output-board-item-S, 
.output-board-item-X, 
.output-board-item-Y, 
.output-board-item-Z, 
.output-board-item-0,  
.output-board-item-1,
.output-board-item-2,
.output-board-item-3,
.output-board-item-4,
.output-board-item-5,
.output-board-item-6,
.output-board-item-7,
.output-board-item-8,
.output-board-item-9 {
    display: inline-block;
    background-color: rgb(43, 43, 43);
    width:3%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 1%;
    margin-right: 1%;
}

.output-board-item-X {
    background-image: url('/images/backgrounds/background-X.jpg');
    background-attachment: fixed;
    background-position: center;
}

.output-board-item-Y {
    background-image: url('/images/backgrounds/background-Y.jpg');
    background-attachment: fixed;
    background-position: center;
}

.output-board-item-Z {
    background-image: url('/images/backgrounds/background-Z.jpg');
    background-attachment: fixed;
    background-position: center;
}


.output-board-item-1 {
    background-color: orange;
}

.output-board-item-2 {
    background-color: yellow;
}

.output-board-item-3 {
    background-color: red;
}

.output-board-item-4 {
    background-color: blue;
}

.output-board-item-5 {
    background-color: green;
}

.output-board-item-6 {
    background-color: purple;
}

.output-board-item-7 {
    background-color: cyan;
}

.output-board-item-8 {
    background-color: black;
}

.output-board-item-9 {
    background-color: magenta;
}
