@import '../../assets/styles/base.scss';

.input-container { 
    display: inline-block;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: gray;
}

.input-board {
    display: inline-block;
    width:100%;
    height: 100%;

}

.input-header{
    color: white;
    font-size: 16px;
    padding-left: .5%;
}

.input-header-highlight{
    color: black;
    margin-left: 1%;
}

.input-button, .input-button-active{
    z-index: 10;
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 9%;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: .5%;
    margin-right: .5%;
    cursor: pointer;
    &:hover{
        background-color: lightgrey;
    }
}


.input-button-active{
    background-color: green;

    &:hover{
        background-color: green;
    }
}
