.btns-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    /* position: absolute; */
    /* top: 50px; */
    /* height: 250px; */
    height: 30%;
    left: 15px;
    right: 15px;
}

.btn {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    height: 70%;
    display: table;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-top: 8%;
}



.btn-pressed-a-0 {
    background-color: #FFFF66;
}

.btn-pressed-a-1 {
    background-color: #FFFF66;
}

.btn-pressed-a-2 {
    background-color: #FF00CC;
}

.btn-pressed-a-3 {
    background-color: #FF00CC;
}

.btn-pressed-a-4 {
    background-color: #FF9933;
}

.btn-pressed-a-5 {
    background-color: #FF9933;
}

.btn-pressed-a-6 {
    background-color: #66FF66;
}

.btn-pressed-a-7 {
    background-color: #66FF66;
}

.btn-pressed-a-8 {
    background-color: #FFFF66;
}

.btn-pressed-a-9 {
    background-color: #FFFF66;
}

.btn-pressed-a-10 {
    background-color: #FF00CC;
}

.btn-pressed-a-11 {
    background-color: #FF00CC;
}

.btn-pressed-a-12 {
    background-color: #FF9933;
}


.btn-pressed-a-13 {
    background-color: #FF9933;
}


.btn-pressed-a-14 {
    background-color: #66FF66;
}


.btn-pressed-a-15 {
    background-color: #66FF66;
}


.btn-pressed-a-16 {
    background-color: #FFFF66;
}


.btn-pressed-a-17 {
    background-color: #FFFF66;
}

.btn-pressed-a-18 {
    background-color: #66FF66;
}


.btn-pressed-a-19 {
    background-color: #FFFF66;
}


.btn-pressed-a-20 {
    background-color: #FF9933;
}


.btn-pressed-a-21 {
    background-color: #FF9933;
}


.btn-pressed-a-22 {
    background-color: #66FF66;
}


.btn-pressed-a-23 {
    background-color: #FFFF66;
}





.btn-pressed-b-0 {
    background-color: #FF00CC ;
}

.btn-pressed-b-1 {
    background-color:#FF9933 ;
}

.btn-pressed-b-2 {
    background-color: #66FF66 ;
}

.btn-pressed-b-3 {
    background-color: #FFFF66;;
}

.btn-pressed-b-4 {
    background-color: #FF00CC;
}

.btn-pressed-b-5 {
    background-color:#FF9933 ;
}

.btn-pressed-b-6 {
    background-color:#66FF66 ;
}

.btn-pressed-b-7 {
    background-color: #FFFF66;;
}

.btn-pressed-b-8 {
    background-color: #FFFF66;;
}

.btn-pressed-b-9 {
    background-color: #66FF66;
}

.btn-pressed-b-10 {
    background-color:#FF9933 ;
}

.btn-pressed-b-11 {
    background-color: #FF00CC ;
}

.btn-pressed-b-12 {
    background-color: #FFFF66;;
}


.btn-pressed-b-13 {
    background-color: #66FF66;
}


.btn-pressed-b-14 {
    background-color:#FF9933;
}


.btn-pressed-b-15 {
    background-color: #FF00CC ;
}


.btn-pressed-b-16 {
    background-color: #FF00CC ;
}


.btn-pressed-b-17 {
    background-color: #FF9933;
}

.btn-pressed-b-18 {
    background-color: #FF00CC;
}


.btn-pressed-b-19 {
    background-color:#FF00CC; ;
}


.btn-pressed-b-20 {
    background-color: #FF00CC;
}


.btn-pressed-b-21 {
    background-color: #FF9933 ;
}


.btn-pressed-b-22 {
    background-color: #66FF66;
}


.btn-pressed-b-23 {
    background-color: #66FF66;
}



.btn-pressed-off {
    background-color: black;
    color: white;
}


.flaps-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
    /* position: absolute; */
    /* top: 320px; */
    /* height: 250px; */
    /* height: 57%; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
}

.flap {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    display: table;
    width: 100%;
}

.flaps-container input {
    width: 100%;
    text-transform: capitalize;
    font-size: 3em;
    text-align: center;
}

.flaps-container div {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 3em;
    text-align: center;
    border: 1px solid black;
}

table:after,
div:after {
    content: "";
}

#generated-data {
    width: 525px;
    border: 1px solid black;
    word-break: break-word;
    padding: 10px;
}