$primary-color: white;
$bg: black;

body{
  padding: 0;
  margin: 0;
}


#header-container{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  color: white;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 2;
  padding-left: 20px;
  background: #4D79D8;
  -webkit-animation: hue 100s infinite;
  animation: hue 100s infinite;
  } @keyframes hue {
    0%   {background-color: #4D79D8;}
    25%  {background-color: #33cc33;}
    50%  {background-color: #d3a438;}
    75%  {background-color: #ea3224;}
    100% {background-color: #4D79D8;}
  } @-webkit-keyframes hue {
    0%   {background-color: #4D79D8;}
    25%  {background-color: #33cc33;}
    50%  {background-color: #d3a438;}
    75%  {background-color: #ea3224;}
    100% {background-color: #4D79D8;}
  }


#content {
  margin-top: 150px;
	position: absolute;
	left: 0;
	width: 100%;
  text-align: center;


}

#canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.list-item {
	display: inline-block;
    width: 10%;
    margin: 1%;
    
  /* box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25); */
}

.list-item > div:nth-child(1) {
  width: 100%;
  height: 200px;
  
}

// .list-item > div:nth-child(2) {
//   color: #888;
//   font-family: sans-serif;
//   font-size: large;
//   width: 200px;
//   margin-top: 0.5em;
  
// }
